* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.left, .right {
    border: 2px solid black;
    background-color: lavender;
    margin: 30px;
    padding: 10px;
    font-weight: bolder;
}

.form-group {
    margin: 5px;
}

.button {
    color: rebeccapurple;
    padding: 5px;
}